{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BlackFire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/simple_sidebar.css' %}">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        
      </div>
    
      <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href=".">BlackFire</a></li>
          <li><a href="futrue.html">Future</a></li>
          <li><a href="stock.html">Stock</a></li>
          <li><a href="runlog.html">Runlog</a></li>
        </ul>
      </nav>

      <div id="page-content-wrapper">
        <p> BlackFire </p>
      </div>
      
    </div>
  </body>
</html>
